<!DOCTYPE html>
<html>
  <head>
    <title>Sighting Details</title>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <link rel="stylesheet" href=".././stylesheets/details.css" />
    <%- include('partials/header') %>
  </head>

  <body>
    <div class="container">
      <div class="left_container">
        <div class="img_container">
          <% if (sighting.image) { %>
          <img
            src="<%= sighting.image %>"
            alt="<%= sighting.identification.birdName %> Image"
          />
          <% } else { %>
          <p>The image is not available.</p>
          <% } %>
        </div>

        <!-- <div class="chat-interface">
          <h2>Chat</h2>
          <textarea class="chat-input" id="chat-input"></textarea>
          <a href="#" class="send-btn">Send Message</a>
        </div> -->

        <div class="chat-interface">
          <h2 for="name">Chat</h2>
          <div id="chat-history" class="history"></div>
          <form id="chat-form" action="">
            <p>
              <textarea id="chat-input" class="chat-input"></textarea>
              <button class="send-btn">Send</button>
            </p>
          </form>
        </div>
      </div>

      <div class="right_container">
        <div class="identification_container">
          <h2>Identification Form</h2>
          <label class="bird_label" for="bird_label">Bird Name:</label>
          <input
            type="text"
            id="birdName"
            placeholder="bird name"
            value="<%= sighting.identification.birdName %>"
          />

          <label class="description_label" for="description_label"
            >Description:</label
          >
          <textarea class="desciption_text" id="description" rows="8">
<%= sighting.identification.description %></textarea
          >

          <label class="url_label" for="url">URL:</label>
          <input
            type="text"
            id="url"
            placeholder="URL"
            value="<%= sighting.identification.url %>"
          />
        </div>
        <div class="metadata">
          <h2>Metadata</h2>
          <p><strong>Date:</strong> <%= sighting.date %></p>
          <p><strong>Author:</strong> <%= sighting.author %></p>
          <p><strong>Location:</strong> <%= sighting.location %></p>

          <p><strong>Description:</strong> <%= sighting.description %></p>
        </div>
      </div>
    </div>

    <!-- <script>
      // Connect to the Socket.IO server
      const socket = io();

      // Get references to the UI elements
      const form = document.querySelector("#chat-form");
      const input = document.querySelector("#chat-input");
      const history = document.querySelector("#chat-history");

      // Handle the form submit event
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        const message = input.value;
        socket.emit("chat message", message); // send message to server
        input.value = "";
      });

      // Handle incoming messages from the server
      socket.on("chat message", (message) => {
        const li = document.createElement("li");
        li.textContent = message;
        messages.appendChild(li);
      });
    </script> -->
  </body>
</html>
