<!DOCTYPE html>
<html>
  <head>
    <title>Sighting Details</title>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="../public/javascripts/chat.js"></script>
    <!-- <script src="../public/javascripts/identification.js"></script> -->

    <link rel="stylesheet" href=".././stylesheets/details.css" />
    <%- include('partials/header') %>
  </head>

  <!-- <body> -->
  <body onload="init('<%=JSON.stringify(sighting)%>')">
    <div class="container">
      <div class="left_container">
        <div class="img_container">
          <% if (sighting.image) { %>
          <img
            src="<%= sighting.image %>"
            alt="<%= sighting.identification.birdName %> Image"
          />
          <% } else { %>
          <p>The image is not available.</p>
          <% } %>
        </div>

        <div class="chat_interface">
          <h2 for="name">Chat</h2>
          <div id="chat_history" class="history">
            <% if (sighting && sighting.messages && sighting.messages.length >
            0) { %> <% for (var i = 0; i < sighting.messages.length; i++) { %>
            <p><%= sighting.messages[i] %></p>
            <% } %> <% } else { %>
            <p>No messages yet.</p>
            <% } %>
          </div>
          <form id="chat_form" onsubmit="return false;">
            <p>
              <textarea id="chat_input" class="chat_input"></textarea>
              <button id="chat_send" class="send_btn" onclick="sendChatText()">
                Send
              </button>
            </p>
          </form>
        </div>
      </div>

      <div class="right_container">
        <div class="identification_container">
          <h2>Identification Form</h2>
          <button id="update-btn" class="update-btn">Update</button>

          <label class="bird_label" for="bird_label">Bird Name:</label>
          <div id="birdName"><%= sighting.identification.birdName %></div>
          <label class="description_label" for="description_label"
            >Description:</label
          >
          <div id="description"><%= sighting.identification.description %></div>
          <label class="url_label" for="url">URL:</label>
          <div id="url"><%= sighting.identification.url %></div>
        </div>

        <!-- Modal dialog box -->
        <div id="modal" class="modal">
          <div class="modal-content">
            <h2>Edit Identification</h2>
            <label for="modal-bird-name">Bird Name:</label>
            <input type="text" id="modal-bird-name" />
            <label for="modal-description">Description:</label>
            <textarea id="modal-description"></textarea>
            <label for="modal-url">URL:</label>
            <input type="text" id="modal-url" />
            <div class="modal-buttons">
              <button id="save-btn">Save</button>
              <button id="cancel-btn">Cancel</button>
            </div>
          </div>
        </div>

        <div class="metadata">
          <h2>Metadata</h2>
          <p><strong>Date:</strong> <%= sighting.date %></p>
          <p><strong>Author:</strong> <%= sighting.author %></p>
          <p><strong>Location:</strong> <%= sighting.location %></p>
          <p><strong>Description:</strong> <%= sighting.description %></p>
        </div>
      </div>
    </div>

    <script>
      // Update Identification
      const updateBtn = document.getElementById("update-btn");
      const modal = document.getElementById("modal");
      const modalBirdName = document.getElementById("modal-bird-name");
      const modalDescription = document.getElementById("modal-description");
      const modalUrl = document.getElementById("modal-url");
      const saveBtn = document.getElementById("save-btn");
      const cancelBtn = document.getElementById("cancel-btn");

      updateBtn.addEventListener("click", () => {
        modalBirdName.value = document.getElementById("birdName").innerText;
        modalDescription.value =
          document.getElementById("description").innerText;
        modalUrl.value = document.getElementById("url").innerText;

        modal.style.display = "block";
      });

      cancelBtn.addEventListener("click", () => {
        modal.style.display = "none";
      });

      saveBtn.addEventListener("click", async () => {
        const sightingId = "<%= sighting._id %>";
        const birdName = modalBirdName.value;
        const description = modalDescription.value;
        const url = modalUrl.value;

        const response = await fetch(`/details?id=${sightingId}`, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            identification: {
              birdName,
              description,
              url,
            },
          }),
        });

        if (response.ok) {
          window.location.reload();
        } else {
          console.error("Failed to update identification data");
        }
      });
    </script>
  </body>
</html>
