<!DOCTYPE html>
<html>
  <head>
    <title>Bird Sighting</title>
    <%- include('partials/head') %>

    <script src="../public/javascripts/idb.js" type="module"></script>
    <script src="../public/javascripts/index.js" type="module"></script>

    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <%- include('partials/header') %>
  </head>

  <body>
    <div class="container">
      <div class="table-responsive">
        <table class="table" id="table-view">
          <thead>
            <tr>
              <th>User</th>
              <th>Identification</th>
              <th>Spotted Location</th>
              <th class="headClickable" onclick="toggle_Distance(3)">
                Distance
                <!-- <i class="fa fa-sort"></i> -->
              </th>
              <th class="headClickable" onclick="toggle_Date()">Date/time</th>
              <th></th>
            </tr>
          </thead>

          <tbody id="table-body-date">
            <% sightings.forEach(function(sighting) { %>
            <tr data-id="<%= sighting._id %>">
              <!-- data-sighting="<%= JSON.stringify(sighting) %>" -->

              <td><%= sighting.author %></td>
              <td><%= sighting.identification.birdName %></td>
              <td><%= sighting.position %></td>
              <td><%= sighting.distance %></td>
              <td><%= sighting.date %></td>

              <td>
                <div class="button-group">
                  <button
                    id="details-btn"
                    class="btn btn-outline-success"
                    data-id="<%= sighting._id %>"
                    data-sighting="<%= JSON.stringify(sighting) %>"
                  >
                    <!-- onclick="location.href='/details?id=<%= sighting._id %>'" -->

                    Details
                  </button>

                  <form action="/delete" method="post">
                    <input
                      type="hidden"
                      name="id"
                      value="<%= sighting._id %>"
                    />
                    <button
                      id="delete-btn"
                      type="submit"
                      class="btn btn-outline-danger"
                      data-id="<%= sighting._id %>"
                      data-sighting="<%= JSON.stringify(sighting) %>"
                    >
                      <!-- onclick="deleteSighting(event,'<%= sighting._id %>')" -->

                      Delete
                    </button>
                  </form>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>

          <tbody id="table-body-distance" style="display: none">
            <% sightings.forEach(function(sighting) { %>
            <tr
              data-id="<%= sighting._id %>"
              data-sighting="<%= JSON.stringify(sighting) %>"
            >
              <td><%= sighting.author %></td>
              <td><%= sighting.identification.birdName %></td>
              <td><%= sighting.position %></td>
              <td><%= sighting.distance %></td>
              <td><%= sighting.date %></td>
              <td>
                <div class="button-group">
                  <button
                    id="details-btn"
                    class="btn btn-outline-success"
                    onclick="location.href='/details?id=<%= sighting._id %>'"
                  >
                    Details
                  </button>

                  <form action="/delete" method="post">
                    <input
                      type="hidden"
                      name="id"
                      value="<%= sighting._id %>"
                    />
                    <button
                      type="submit"
                      class="btn btn-outline-danger"
                      onclick="deleteSighting(event,'<%= sighting._id %>')"
                    >
                      Delete
                    </button>
                  </form>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <div id="grid-view" class="row" style="display: none">
        <% sightings.forEach(function(sighting) { %>
        <div class="col-sm-4 col-md-3 mb-3">
          <div
            class="card"
            data-id="<%= sighting._id %>"
            data-sighting="<%= JSON.stringify(sighting) %>"
          >
            <img
              class="card-img-top"
              src="<%= sighting.image %>"
              alt="Bird image"
            />
            <div class="card-body">
              <h5 class="card-title">
                <%= sighting.identification.birdName %>
              </h5>
              <p class="card-text">
                <strong>Date/Time:</strong> <%= new
                Date(sighting.date).toLocaleString() %>
              </p>
              <p class="card-text">
                <strong>User:</strong> <%= sighting.author %>
              </p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>

      <!-- <div class="header-container clearfix"> -->
      <div class="toggle-button mb-3">
        <button class="btn btn-light" onclick="toggleGrid(0)">
          <i class="fa fa-exchange"></i>
          <span id="toggle-text">To Grid View</span>
        </button>
      </div>
      <!-- </div> -->
    </div>
  </body>

  <script>
    const STATUS_DATE = "pending";
    const STATUS_DISTANCE = "success";
    let status = STATUS_DATE;

    function toggle_Date() {
      var table1 = document.getElementById("table-body-date");
      var table2 = document.getElementById("table-body-distance");

      if (table1.style.display === "none") {
        table1.style.display = "table-row-group";
        table2.style.display = "none";
      }
    }
    function toggle_Distance(n) {
      var table1 = document.getElementById("table-body-date");
      var table2 = document.getElementById("table-body-distance");
      if (table2.style.display === "none") {
        table1.style.display = "none";
        table2.style.display = "table-row-group";
      }
      sortTable(n);
    }
  </script>
  <!--    <script>-->
  <!--      const table = document.getElementById('table-view');-->
  <!--      const headers = table.querySelectorAll('th');-->

  <!--      headers.forEach((header) => {-->
  <!--        header.addEventListener('click', () => {-->
  <!--          const columnIndex = header.cellIndex;-->

  <!--          let field;-->
  <!--          switch (columnIndex) {-->
  <!--            case 0:-->
  <!--              field = 'distance';-->
  <!--              break;-->
  <!--            case 1:-->
  <!--              field = 'birdName';-->
  <!--              break;-->
  <!--            case 2:-->
  <!--              field = 'author';-->
  <!--              break;-->
  <!--            default:-->
  <!--              field = '';-->
  <!--          }-->

  <!--          const rows = table.querySelectorAll('tbody tr');-->
  <!--          rows.forEach((row) => {-->
  <!--            const cell = row.querySelector(`td:nth-child(${columnIndex + 1})`);-->
  <!--            const data = row.dataset[field];-->
  <!--            cell.innerText = data;-->
  <!--          });-->
  <!--        });-->
  <!--      });-->
  <!--    </script>-->

  <script>
    function sortTable(n) {
      var table,
        rows,
        switching,
        i,
        x,
        y,
        shouldSwitch,
        dir,
        switchcount = 0;
      table = document.getElementById("table-body-distance");
      switching = true;
      dir = "asc"; // Set the sorting direction to ascending
      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 0; i < rows.length - 1; i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          if (dir == "asc") {
            if (parseFloat(x.innerHTML) > parseFloat(y.innerHTML)) {
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (parseFloat(x.innerHTML) < parseFloat(y.innerHTML)) {
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount++;
        } else {
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
  </script>

  <script>
    var currentView = 0;
    var views = ["table-view", "grid-view"];
    var toggleText = document.querySelector("span");

    function toggleGrid(n) {
      sortTable(n);
      var viewToHide = views[currentView];
      currentView = (currentView + 1) % views.length;
      var viewToShow = views[currentView];

      var viewToHideElement = document.getElementById(viewToHide);
      var viewToShowElement = document.getElementById(viewToShow);

      viewToHideElement.style.display = "none";
      viewToShowElement.style.display = "";

      if (currentView == 0) {
        toggleText.innerHTML = "To Grid View";
      } else if (currentView == 1) {
        toggleText.innerHTML = "To List View";
      }
    }
  </script>
</html>
