<!DOCTYPE html>
<html>
  <head>
    <title>Bird Sighting</title>
    <script>
      // Ask for username and save to sessionStorage
      const username = sessionStorage.getItem("username");
      const MAX_LENGTH = 20;

      if (!username) {
        let isValid = false;
        while (!isValid) {
          const username = prompt(
            "Please enter your username (no more than 20 characters):"
          );
          if (username && username.length <= MAX_LENGTH) {
            sessionStorage.setItem("username", username);
            isValid = true;
          }
        }
      }
    </script>

    <!--    get current location-->
    <script>
      var latitude=null;
      var longitude=null;
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          latitude = position.coords.latitude;
          longitude = position.coords.longitude;
          // console.log('Latitude:', latitude, 'Longitude:', longitude);
          // alert('您选择的位置是：' + latitude + ',' + longitude);
        }, function(error) {
          console.log('Error getting current position:', error);
        });
      } else {
        console.log('Geolocation is not supported by this browser.');
      }

    </script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <%- include('partials/header_index') %>
  </head>
  <body>
    <div class="container">
      <table id="table-view">
        <thead>
          <tr>
            <th>Date/Time</th>
            <th>Identification</th>
            <th>User</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="table-body">
          <% sightings.forEach(function(sighting) { %>
          <tr
            data-id="<%= sighting._id %>"
            onclick="location.href='/details?id=<%= sighting._id %>'"
          >
            <td><%= new Date(sighting.date).toLocaleString() %></td>
            <td><%= sighting.identification.birdName %></td>
            <td><%= sighting.author %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>

      <table id="table-Distance" style="display: none" >
        <thead>
        <tr>
          <th>Distance</th>
          <th>Identification</th>
          <th>User</th>
          <th></th>
        </tr>
        </thead>
        <tbody id="table-body">
        <% sightings.forEach(function (sighting) { %>
          <tr data-id="<%= sighting._id %>" onclick="location.href='/details?id=<%= sighting._id %>'">
            <td><%= sighting.distance %></td>
            <td><%= sighting.identification.birdName %></td>
            <td><%= sighting.author %></td>
          </tr>
        <% }); %>
        </tbody>
      </table>

      <div id="grid-view" class="grid-layout" style="display: none">
        <% sightings.forEach(function(sighting) { %>
        <div
          class="grid-item"
          data-id="<%= sighting._id %>"
          onclick="location.href='/details?id=<%= sighting._id %>'"
        >
          <img
            src="<%= sighting.image %>"
            alt="Bird image"
            style="max-width: 100%"
          />
          <p>
            <strong>Date/Time: </strong><%= new
            Date(sighting.date).toLocaleString() %>
          </p>
          <p>
            <strong>Identification: </strong><%=
            sighting.identification.birdName %>
          </p>
          <p><strong>User: </strong><%= sighting.author %></p>
        </div>
        <% }); %>
      </div>

      <div class="header-container clearfix">
        <div class="toggle-button">
          <button onclick="toggleGrid()">
            <i class="fa fa-exchange"></i>
            <span id="toggle-text">Sort by distance</span>
          </button>
        </div>
      </div>

      <div class="add-button">
        <button onclick="location.href='/create'">
          <i class="fa fa-plus-circle"></i> Add New Sighting
        </button>
      </div>
    </div>

    <script>
      var currentView = 0;
      var views = ["table-view", "table-Distance", "grid-view"];
      var toggleText = document.querySelector("button");

      function toggleGrid() {
        var viewToHide = views[currentView];
        currentView = (currentView + 1) % views.length;
        var viewToShow = views[currentView];

        var viewToHideElement = document.getElementById(viewToHide);
        var viewToShowElement = document.getElementById(viewToShow);

        viewToHideElement.style.display = "none";
        viewToShowElement.style.display = "";

        if (currentView == 0) {
          toggleText.innerHTML = "Sort by distance";
        } else if (currentView == 1) {
          toggleText.innerHTML = "Sort by grid";
        } else {
          toggleText.innerHTML = "Sort by time";
        }
      }
    </script>
    <script>
      const newSightings = sightings.map((sighting) => {
        // 对每个sighting进行操作
        const location = sighting.location;
        const location_sight =location.split(",");
        const distance = getDistanceFromLatLonInKm(
                latitude,
                longitude,
                location_sight[0],
                location_sight[1]
        );
        return { ...sighting, distance }; // 返回新的对象，包括原对象的属性和新属性distance
      });

      function getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {
        const R = 6371; // 地球半径（单位：千米）
        const dLat = deg2rad(lat2 - lat1);
        const dLon = deg2rad(lon2 - lon1);
        const a =
                Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
                Math.sin(dLon / 2) * Math.sin(dLon / 2);
        const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        const distance = R * c; // 距离（单位：千米）
        return distance;
      }

      function deg2rad(deg) {
        return deg * (Math.PI/180);
      }
    </script>

  </body>
</html>
