<!DOCTYPE html>
<html>
<head>
  <title>Bird Sighting</title>
  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    table {
      width: 50%;
      border-collapse: collapse;
      border: 1px solid black;
      border-radius: 10px;
      box-shadow: 0px 0px 10px grey;
    }

    th, td {
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #4CAF50;
      color: white;
    }

    td input[type="datetime-local"],
    td input[type="text"] {
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid grey;
      font-size: 16px;
    }

    td button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      font-size: 16px;
      cursor: pointer;
      box-shadow: 0px 0px 10px grey;
    }

    .add-button {
      margin-top: 20px;
    }

    .add-button button {
      padding: 15px 30px;
      font-size: 24px;
      box-shadow: 0px 0px 10px grey;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>Bird Sighting</h1>
    <table>
      <thead>
      <tr>
        <th>Date/Time</th>
        <th>Identification</th>
        <th>User</th>
        <th></th>
      </tr>
      </thead>
      <tbody id="table-body">
      <% sightings.forEach(function(sighting) { %>
        <tr data-id="<%= sighting._id %>" onclick="location.href='/details?id=<%= sighting._id %>'">
          <td><%= new Date(sighting.date).toLocaleString() %></td>
          <td><%= sighting.identification.birdName %></td>
          <td><%= sighting.author %></td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  <div class="add-button">
    <button onclick="location.href='/create'"><i class="fa fa-plus-circle"></i> Add New Sighting</button>
  </div>
</div>
</body>
</html>