<!DOCTYPE html>
<html>
  <head>
    <title>Bird Sighting</title>
    <script>

<!--      Get the user's current location-->
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var latitude = position.coords.latitude;
          var longitude = position.coords.longitude;
          // console.log('Latitude:', latitude, 'Longitude:', longitude);
          alert('您选择的位置是：' + latitude + ',' + longitude);
        }, function(error) {
          console.log('Error getting current position:', error);
        });
      } else {
        console.log('Geolocation is not supported by this browser.');
      }


      // Ask for username and save to sessionStorage
      const username = sessionStorage.getItem("username");
      const MAX_LENGTH = 20;

      if (!username) {
        let isValid = false;
        while (!isValid) {
          const username = prompt(
            "Please enter your username (no more than 20 characters):"
          );
          if (username && username.length <= MAX_LENGTH) {
            sessionStorage.setItem("username", username);
            isValid = true;
          }
        }
      }
    </script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <%- include('partials/header_index') %>
  </head>
  <body>
    <div class="container">
      <table id="table-view">
        <thead>
          <tr>
            <th>Date/Time</th>
            <th>Identification</th>
            <th>User</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="table-body">
          <% sightings.forEach(function(sighting) { %>
          <tr
            data-id="<%= sighting._id %>"
            onclick="location.href='/details?id=<%= sighting._id %>'"
          >
            <td><%= new Date(sighting.date).toLocaleString() %></td>
            <td><%= sighting.identification.birdName %></td>
            <td><%= sighting.author %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>

      <div id="grid-view" class="grid-layout" style="display: none">
        <% sightings.forEach(function(sighting) { %>
        <div
          class="grid-item"
          data-id="<%= sighting._id %>"
          onclick="location.href='/details?id=<%= sighting._id %>'"
        >
          <img
            src="<%= sighting.image %>"
            alt="Bird image"
            style="max-width: 100%"
          />
          <p>
            <strong>Date/Time: </strong><%= new
            Date(sighting.date).toLocaleString() %>
          </p>
          <p>
            <strong>Identification: </strong><%=
            sighting.identification.birdName %>
          </p>
          <p><strong>User: </strong><%= sighting.author %></p>
        </div>
        <% }); %>
      </div>

      <div class="header-container clearfix">
        <div class="toggle-button">
          <button onclick="toggleGrid()">
            <i class="fa fa-exchange"></i>
            <span id="toggle-text">Toggle Grid View</span>
          </button>
        </div>
      </div>

      <div class="add-button">
        <button onclick="location.href='/create'">
          <i class="fa fa-plus-circle"></i> Add New Sighting
        </button>
      </div>
    </div>

    <script>
      function toggleGrid() {
        var tableView = document.getElementById("table-view");
        var gridView = document.getElementById("grid-view");
        var toggleText = document.getElementById("toggle-text");

        if (tableView.style.display === "none") {
          tableView.style.display = "table";
          gridView.style.display = "none";
          toggleText.innerHTML = "Toggle Grid View";
        } else {
          tableView.style.display = "none";
          gridView.style.display = "grid";
          toggleText.innerHTML = "Toggle Table View";
        }
      }
    </script>
  </body>
</html>
