<!DOCTYPE html>
<html>
  <head>
    <title>Sighting Details</title>
    <%- include('partials/head') %>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

    <!-- javascript files -->
    <script src="../public/javascripts/chat.js"></script>
    <script src="../public/javascripts/identification.js"></script>
    <script src="../public/javascripts/disableButtons.js"></script>

    <!-- stylesheet -->
    <link rel="stylesheet" href=".././stylesheets/details.css" />

    <%- include('partials/header') %>
  </head>

  <body onload="init('<%=JSON.stringify(sighting)%>')">
    <div class="container">
      <div
        class="offline_div"
        id="offline_div"
        style="
          position: fixed;
          bottom: 0;
          width: 200px;
          margin: 0 auto;
          display: none;
        "
      >
        <div class="alert alert-info" role="alert">Your are offline.</div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-header">
            <h5 class="card-title mb-0">Sighting Image</h5>
          </div>
          <div class="card-body">
            <% if (sighting.image) { %>
            <img
              src="<%= sighting.image %>"
              alt="<%= sighting.identification.birdName %> Image"
              class="img-fluid"
            />
            <% } else { %>
            <p>The image is not available.</p>
            <% } %>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header">
            <h5 class="card-title mb-0">Chat</h5>
          </div>
          <div class="card-body">
            <div id="chat_history" class="history">
              <% if (sighting && sighting.messages && sighting.messages.length >
              0) { %> <% for (var i = 0; i < sighting.messages.length; i++) { %>
              <div class="message">
                <div class="message-text"><%= sighting.messages[i].text %></div>
                <div class="message-sentAt">
                  <%= new Date(sighting.messages[i].sentAt).toLocaleString() %>
                </div>
              </div>
              <% } %> <% } else { %>
              <p>No messages yet.</p>
              <% } %>
            </div>
            <form id="chat_form" onsubmit="return false;">
              <div class="mb-3">
                <label for="chat_input" class="form-label"
                  >Enter message:</label
                >
                <textarea
                  id="chat_input"
                  class="form-control chat_input"
                ></textarea>
              </div>
              <button
                id="chat_send"
                class="btn btn-primary"
                onclick="sendChatText()"
              >
                Send
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-title">Identification Form</h2>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label for="birdName" class="form-label">Bird Name:</label>
              <div class="form-text" id="birdName">
                <%= sighting.identification.birdName %>
              </div>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description:</label>
              <div class="form-text" id="description">
                <%= sighting.identification.description %>
              </div>
            </div>
            <div class="mb-3">
              <label for="url" class="form-label">URL:</label>
              <div class="form-text" id="url">
                <a href="#"><%= sighting.identification.url %></a>
              </div>
            </div>
            <div class="mb-3">
              <button
                type="button"
                id="update-btn"
                class="btn btn-primary"
                data-bs-target="#modal"
                onclick="updateIdentification('<%=sighting.author%>')"
              >
                Edit Identification
              </button>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-title">Metadata</h2>
          </div>
          <div class="card-body">
            <p><strong>Date:</strong> <%= sighting.date %></p>
            <p><strong>Author:</strong> <%= sighting.author %></p>
            <p><strong>Description:</strong> <%= sighting.description %></p>

            <p id="location">
              <strong>Location:</strong> <%= sighting.location %>
            </p>
            <p><strong>Position:</strong> <%= sighting.position %></p>
            <div id="map" class="map-container"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for updating identification -->
    <div id="modal" class="modal fade my-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Identification</h5>
            <button
              type="button"
              class="close-btn"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Search area -->
            <form class="form-inline" id="search-form" onsubmit="return false;">
              <div class="input-group mb-3">
                <input
                  type="text"
                  id="search-text"
                  name="search-text"
                  class="form-control"
                  placeholder="Enter the bird name to search:"
                  aria-label="Search"
                  aria-describedby="search-addon"
                  required
                />
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                onclick="searchBird()"
              >
                Search
              </button>
              <button
                type="button"
                class="btn btn-primary"
                id="clear-btn"
                onclick="clearSearch()"
              >
                Clear
              </button>
              <span
                id="spinner"
                class="spinner-border spinner-border-sm text-success d-none"
                role="status"
                aria-hidden="true"
              ></span>
            </form>
            <div class="row">
              <div class="col-md-12">
                <div class="list-group" id="search-results">
                  <!-- Search results will be appended here -->
                </div>
              </div>
            </div>

            <!-- Update identification form -->
            <form id="modal-form">
              <div class="mb-3">
                <label for="modal-bird-name" class="form-label"
                  >Bird Name:</label
                >
                <input type="text" id="modal-bird-name" class="form-control" />
              </div>
              <div class="mb-3">
                <label for="modal-description" class="form-label"
                  >Description:</label
                >
                <textarea
                  id="modal-description"
                  class="form-control"
                ></textarea>
              </div>
              <div class="mb-3">
                <label for="modal-url" class="form-label">URL:</label>
                <input type="text" id="modal-url" class="form-control" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button id="to-top-btn" class="btn btn-primary" onclick="goToTop()">
              Back to Top
            </button>
            <button
              id="save-btn"
              class="btn btn-primary"
              onclick="saveChanges('<%=sighting._id%>')"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    window.addEventListener("offline", () => {
      disableButtons();
    });

    window.addEventListener("online", () => {
      enableButtons();
    });
  </script>

  <!--    map-->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3zXfnVpTkl7MMXYScQFqwUY3Pvm9fP5w&callback=initMap&language=en"
    async
    defer
  ></script>

  <script>
    function initMap() {
      const location = "<%= sighting.location %>";
      if(location!=="unknown"){
        const location_sight = location.split(",");

        // Create a new Google Map instance.
        var map = new google.maps.Map(document.getElementById("map"), {
          center: {
            lat: parseFloat(location_sight[0]),
            lng: parseFloat(location_sight[1]),
          },
          zoom: 12,
          draggable: true,
        });

        var myLatlng = new google.maps.LatLng(
                location_sight[0],
                location_sight[1]
        );
        marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
        });

        // Executes a callback function when a click event occurs on the map.
        map.addListener(function (e) {
          var location = e.latLng;
          var locationInfo = document.getElementById("location");
          locationInfo.innerText =
                  "Location:" +
                  "Latitude: " +
                  location.lat() +
                  ", Longitude: " +
                  location.lng();

          // Convert positional coordinates into geographic location information.
          geocoder.geocode({ location: location }, function (results, status) {
            if (status === "OK") {
              if (results[0]) {
                var position = document.getElementById("position");
                position.innerText = "Address: " + results[0].formatted_address;
              } else {
                console.log("No results found");
              }
            } else {
              console.log("Geocoder failed due to: " + status);
            }
          });
        });
      }
      else{
        var map1 = document.getElementById("table-body-date");
        map1.style.display==="none";
      }
    }
  </script>
</html>
